body {
    height: 100vh;
    width: 100vw;
}
.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.problem-display {
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 2em;
}

.step-forward {
    width: 20%;
}

.subexpression {
    color: black;
}